# Server Configuration
PORT=8000
NODE_ENV=development
CLIENT_URL=http://localhost:5000
LIVE_URL=https://packo-online-backend.onrender.com
SERVER_URL=https://packo-online-backend.onrender.com


# MongoDB Configuration
MONGODB_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/<database_name>?retryWrites=true&w=majority


# JWT Credentials
JWT_SECRET=your_super_secret_jwt_access_key_change_in_production
JWT_EXPIRE=1d
REFRESH_TOKEN_SECRET=your_super_secret_jwt_refresh_key_change_in_production
REFRESH_TOKEN_EXPIRE=7d

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

# Razorpay Credentials
RAZORPAY_KEY_ID=your_razorpay_key_id
RAZORPAY_KEY_SECRET=your_razorpay_key_secret

# Nodemailer SMTP Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_app_specific_password
FROM_EMAIL=noreply@ecommerce.com
FROM_NAME=E-Commerce Store
